body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;/* there are some fonts some operating systems can not load, so we
    use google fonts, we select all the fonts we needed and embed it and copy the links and code*/
}

.top-container{
    background-color: #EAF6F6;
    margin: 0;
    position: relative;/* the top container is set relative, so the clouds can 
    be relative to it and not to the entire body. like the bottom : 300px for the
    btm cloud, it allows it to start from the bottom of the top container and not the body*/
    padding-top: 100px;
    
}

.middle-container{
    margin: 100px 0 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.subtitle{
    font-weight: normal;
}

h1{
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /*1em is 16px, this is a dynamic font size. it is better to use rem, so the parent font size
    would not caused err or change in size*/
    margin: 50px auto 0 auto;
    /*shorthand top, right, bottom and left*/
    /*incase, we have a width of say 10%, the text align will not work, so we use the margin.
    margin: 0 auto for horizontal text alignment*/
    }

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif; 
}

a{
    color: #11999E;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    margin: 10px 20px;
}

a:hover{
    color: #EAF6F6;
}

.btm-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px; 
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-pic1{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-pic2{
    border-radius: 50%;
    width: 25%;
    float: right; /*to aviod problems, just use only float to wrap text around image, do not use
    it for layouts or positioning*/
    margin-left: 30px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 7%;
    border-color: #EAF6F6;
    border-width: 8px;
    margin: 100px auto;
}


.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact{
    width: 40%;
    margin: 40px auto 60px auto;
}

/*https://css3buttongenerator.com/ to create buttons*/
.btn{
        background: #11CDD4;
        background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
        background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
        background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
        background-image: -o-linear-gradient(top, #11CDD4, #11999E);
        background-image: linear-gradient(to bottom, #11CDD4, #11999E);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
 }
      
.btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
 }

}

p{
    line-height: 2;
}