* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  animation: animate 10s linear infinite;
}

.container .slider .slide {
  position: relative;
  width: 20%;
  height: 100%;
  float: left;
}

.container .slider .slide .caption {
  position: absolute;
  bottom: 60px;
  left: 60px;
  right: 60px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: 0.5s;
}

.container .slider .slide .caption h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  font-size: 48px;
  transition: 0.5s;
}

.container .slider .slide .caption p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}

.container .slider .slide.slide1 {
  background: url("https://images.unsplash.com/photo-1554350342-84cbb65fd7c6?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8dG93SlpGc2twR2d8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  background-position: center;
}

.container .slider .slide.slide2 {
  background: url("https://images.unsplash.com/photo-1553484771-371a605b060b?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8YWV1NnJMLWo2ZXd8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  background-position: center;
}

.container .slider .slide.slide3 {
  background: url("https://images.unsplash.com/photo-1611449102139-ba398ee3b17f?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDl8UzRNS0xBc0JCNzR8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  background-position: center;
}

.container .slider .slide.slide4 {
  background: url("https://images.unsplash.com/photo-1590420485404-f86d22b8abf8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTJ8fHdvbHZlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  background-position: center;
}

@keyframes animate {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@media (max-width: 768px) {
  .container .slider .slide .caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
  }

  .container .slider .slide .caption h2 {
    margin: 0 0 10px;
    font-size: 30px;
  }

  .container .slider .slide .caption p {
    font-size: 16px;
  }
}
