*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html{
    font-size: 16px;
}

body{
    padding: 6rem;
    font-family: 'Roboto', sans-serif;
}

.title{
    margin-bottom: 2rem;
    font-size: 2rem;
}

hr{
    margin: 1rem 0;
}

details{
    padding: 0 1rem;
}

details > summary{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    outline: none;
}

details > summary::after{
    content: url("./images/right-arrow-6.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    transition: transform 0.3s ease;
}

details[open] > summary::after{
    transform: rotate(90deg);
}

details > summary::-webkit-details-marker{
    display: none;
}

.details-content{
    font-size: 1rem;
    padding: 1rem 1.5rem;
}

.details-content > p{
    margin: 1rem 0;
}